global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind *:80
    acl is_root_path path -i /
    # http-request set-path /web-app/ if is_root_path
    default_backend http_back

backend http_back
    balance random
    option httpchk GET /web-app/
    http-check expect status 200
    server app1 acada-webapp-1:8080
    server app2 acada-webapp-2:8080
    server app3 acada-webapp-3:8080
    server app4 acada-webapp-4:8080
    server app5 acada-webapp-5:8080
    server app6 acada-webapp-6:8080
    server app7 acada-webapp-7:8080
    server app8 acada-webapp-8:8080
    server app9 acada-webapp-9:8080
    server app10 acada-webapp-10:8080
